.algolia-autocomplete .ds-dropdown-menu .ds-suggestions a {
  text-decoration: none;
}

/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  color: var(--g8);
  background-color: var(--g1);
  border-left: 8px solid var(--g3);
  padding: .8rem !important;
}
