:root {
  --sidebar: 22rem;
}
html {
  scroll-behavior: smooth;
}
.font-semibold-active.active {
  font-weight: 600;
}
.underline-h:hover {
  text-decoration: underline;
}
.indicator {
  height: 4px;
}
.max-width-content {
  max-width: 60rem;
}
.two-column {
  /* Height: Header | Content */
  grid-template-rows: 3rem 1fr;
  /* Width: Sidebar | Content */
  grid-template-columns: 17.666rem 1fr;
}
.icon {
  width: 1.25rem;
  height: 1.25rem;
}
.star-icon {
  width: 1rem;
  height: 1rem;
}
.slack-icon {
  width: 2rem;
  height: 2rem;
}
.h-logo {
  height:1.5rem;
}
.left-sidebar {
  /* Hide Sidebar off screen in mobile */
  left: calc(var(--sidebar) * -1);
}
.table-fixed {
  table-layout: fixed;
}
.border-collapse {
  border-collapse: collapse;
}
.resize-vertical {
  resize: vertical;
}
.open,
.transition-x {
  transition: transform 100ms cubic-bezier(0.23, 1, 0.320, 1);
}
.open,
.translate-x-sidebar {
  transform: translateX(var(--sidebar));
}
.transition-fill {
  transition: fill 2s ease-out;
}

@media only screen and (min-width:48em) {
  .open,
  .transition-x {
    transition: none;
   }
  .open,
  .translate-x-sidebar {
    transform: translateX(0);
  }
  .resize-none-lg {
    resize: none;
  }
}
