:root {
  --sidebar: 22rem;
}
html {
  scroll-behavior: smooth;
}
.font-semibold-active.active {
  font-weight: 600;
}
.underline-h:hover {
  text-decoration: underline;
}
.indicator {
  height: 4px;
}
.max-width-content {
  max-width: 60rem;
}
.two-column {
  /* Height: Header | Content */
  grid-template-rows: 3rem 1fr;
  /* Width: Sidebar | Content */
  grid-template-columns: 17.666rem 1fr;
}
.icon {
  width: 1.25rem;
  height: 1.25rem;
}
.star-icon {
  width: 1rem;
  height: 1rem;
}
.discord-icon {
  width: 1.3rem;
  height: 1.3rem;
}
.logo {
  width: 8rem;
}
.logo,
.h-logo {
  height: 1.5rem;
}
.left-sidebar {
  /* Hide Sidebar off screen in mobile */
  left: calc(var(--sidebar) * -1);
}
.table-fixed {
  table-layout: fixed;
}
.border-collapse {
  border-collapse: collapse;
}
.resize-vertical {
  resize: vertical;
}
.open,
.transition-x {
  transition: transform 100ms cubic-bezier(0.23, 1, 0.320, 1);
}
.open,
.translate-x-sidebar {
  transform: translateX(var(--sidebar));
}
.transition-fill {
  transition: fill 2s ease-out;
}

/* Sidebar group toggling */
label.sidebar-group-title {
  color: var(--p1);
}
label.sidebar-group-title:before {
  font-size: .8rem;
  color: var(--g6);
  content: "\25B6";
}
input.sidebar-group-control:checked + label.sidebar-group-title:before {
  content: "\25BC";
}
label.sidebar-group-title + ul {
  height: 0;
  overflow: hidden;
  padding-left: .7rem;
}
input.sidebar-group-control:checked ~ ul {
  height: 100%;
}

@media only screen and (min-width:48em) {
  .open,
  .transition-x {
    transition: none;
   }
  .open,
  .translate-x-sidebar {
    transform: translateX(0);
  }
  .resize-none-lg {
    resize: none;
  }
}
