.docs blockquote > p {
  margin: 0;
}
.docs blockquote > p code {
  background-color: var(--g2);
}

/* all code font family */
.docs pre code, .docs :not(pre) > code  {
  font-family: Menlo, Monaco, Consolas, monospace;
}

/* highlighted/Shiki code blocks */
.docs pre {
  padding: 1rem;
  margin-bottom: 1.33rem;
  overflow: auto;
  border-radius: 0.3rem;
  white-space: pre-wrap;
  word-break: break-word;
  /* fallback when Shiki encounters unknown syntax */
  color: var(--g2);
  background-color: var(--g9);
}

/* code copy button */
.docs pre button.icon {
  width: 1rem;
  height: 1rem;
  color: white;
}
.docs pre button.icon svg {
  pointer-events: none;
}

/* inline code, not highlighted blocks */
.docs :not(pre) > code {
  background-color: var(--g1);
  padding: 0.1rem 0.2rem;
  margin: 0;
  display: inline;
  overflow-wrap: break-word;
  min-width: auto;
  border-radius: 0.25rem;
}
