.docs blockquote > p {
  margin: 0;
}

/* Code blocks */
.docs pre {
  padding: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
  border-radius: 0.3rem;
}
.docs pre code {
  color: #eeeeee;
  font-family: Menlo, Monaco, Consolas, monospace;
}
